{% extends "admin/base_site.html" %}
{% block content %}
    <head>
        {% load static %}

        <!-- Link to your static CSS file -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/addphoto.css' %}">
        {% comment %} <style>
            body { background: skyblue !important; }
        </style> {% endcomment %}
    </head>
    <body>

        <div class="custom-form-container">
            <h1>{{ title }}</h1>
            

            <form method="POST" enctype="multipart/form-data" id="addvideo-form">
                {% csrf_token %}
                
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" placeholder="Enter name" required>

                <label for="description">Description:</label>
                <textarea id="description" name="description" placeholder="Enter description" rows="4" required></textarea>

                <label for="video">Upload Video:</label>
                <input type="file" id="video" name="video" accept="video/*" required>

                <label for="datetime">Select Date & Time:</label>
                <input type="datetime-local" id="datetime" name="datetime" required>

                <button id="button" type="submit">Submit</button>
            </form>
        </div>
        <script src='{% static "js/gallery.js" %}'></script>
    </body>
        
        
{% endblock %}
