<!DOCTYPE html>
<html class="no-js boxed" lang="en">
 <head>
  <meta charset="utf-8"/>
  {% load static %}
  <meta content="ie=edge" http-equiv="x-ua-compatible"/>
  <title>
   कालिकोटे बंश समाज
  </title>
  <meta content="" name="description"/>
  <meta content="width=device-width, initial-scale=1" name="viewport"/>
  <link href="images/ZUYkTCGx1q4Ug5JJQE4M.png" rel="shortcut icon" type="image/png"/>
  <script async="" defer="" src="{% static 'js/api.js' %}">
  </script>
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"/>
  <link href="{% static 'css/owl.carousel.min.css' %}" rel="stylesheet"/>
  <link href="{% static 'css/animate.min.css' %}" rel="stylesheet"/>
  <link href="{% static 'css/nice-select.css' %}" rel="stylesheet"/>
  <link href="{% static 'css/magnific-popup.css' %}" rel="stylesheet"/>
  <link href="{% static 'css/all.min.css' %}" rel="stylesheet"/>
  <link href="{% static 'css/flaticon.css' %}" rel="stylesheet"/>
  <link href="{% static 'css/meanmenu.css' %}" rel="stylesheet"/>
  <link href="{% static 'css/caMenu.css' %}" rel="stylesheet"/>
  <link href="{% static 'css/slick.css' %}" rel="stylesheet"/>
  <link href="{% static 'css/default.css' %}" rel="stylesheet"/>
  <link href="{% static 'css/style.css' %}" rel="stylesheet"/>
  <link href="{% static 'css/responsive.css' %}" rel="stylesheet"/>
  <script async="" src="https://www.googletagmanager.com/gtag/js?id=G-QB7R5GC4QJ">
  </script>
  <script>
   window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-QB7R5GC4QJ');
  </script>
 </head>
 <header> </header>



 <body>
 <input type="hidden" id="csrf_token" value="{{ csrf_token }}">
 
  <div id="fb-root">
  </div>
  <script async="" crossorigin="anonymous" defer="" nonce="iZzZE5eN" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v14.0">
  </script>
  <div class="body">
  <div id="page-content">
   <header>
    <div class="top-bar pt-10 pb-10">
     <div class="container">
      <div class="row d-flex align-items-center">
       <div class="col-xl-8 col-lg-8 col-md-8 d-none d-md-block">
        <div class="header-info">
         <span class="header-address">
          "विश्वभरीका कालिकोटेहरु एक होऔ, आत्माको रक्षा, भ्रातृत्व, निर्भरता कालिकोटे वंशको एकता आजको आवश्यकता"
         </span>
        </div>
       </div>
       <div class="col-xl-4 col-lg-4 col-md-4">
        <div class="f-right" style="margin-left:20px">
            <a href="#" onclick="translatePage('en')">English</a>
            <a href="#" onclick="translatePage('ne')">नेपाली</a>


        </div>
        <div class="header-social-icons header-social-icons-black f-right">
         <ul>
          <li>
           <form action="/search-page" autocomplete="off" class="search-form">
            <input name="search" placeholder="खोज्नुहोस..." type="text"/>
            <button type="submit">
             <i class="fas fa-search">
             </i>
            </button>
           </form>
          </li>
         </ul>
        </div>
       </div>
      </div>
     </div>
    </div>
    <div class="top-bar-white top-bar-3 pt-10 pb-10">
     <div class="container">
      <div class="row d-flex align-items-center">
       <div class="col-xl-3 col-lg-3 col-md-3 col-xs-3">
        <div class="logo logo-3 pos-rel">
         <img alt="" height="100px" src="{% static 'images/GoN.png' %}"/>
        </div>
       </div>
       <div class="col-xl-6 col-lg-6 col-md-6 col-xs-9">
        <div class="header-title text-center">
         <img alt="" class="pb-10 d-none d-lg-block" src="{% static 'images/flag.gif' %}" style="height: 50px;-webkit-transform: rotateY(180deg);transform: rotateY(180deg);"/>
         <br class="d-none d-lg-block"/>
         <h1>
          <strong>
           कालिकोटे बंश समाज
          </strong>
         </h1>
         <h2>
          <strong>
           KALIKOTE BANSHA SAMAJ
          </strong>
         </h2>
        </div>
       </div>
       <div class="col-xl-3 col-lg-3 col-md-3 d-none d-lg-block">
        <div class="logo logo-3 pos-rel">
         <img alt="" height="100px" src="{% static 'images/yjQk53zC7vRlmeynNOQN.png' %}" style="float:right"/>
        </div>
       </div>
      </div>
     </div>
    </div>
    <div class="header-menu-area header-menu-blue theme-bg">
     <div class="container">
      <div class="row align-items-center">
       <div class="col-xl-12 col-lg-12">
        <div class="header__menu menu-dark">
         <nav id="mobile-menu">
          <ul>
           <li class="">
            <a href="/?lan=np">
             गृहपृष्ठ
            </a>
           </li>
           <li class="menu-item-has-children">
            <ul class="submenu">
             <li>
              <a href="/pages/about-us?lan=np">
               हाम्रो बारेमा
              </a>
             </li>
             <li>
              <a href="/pages/vision-objective-and-strategy?lan=np">
               सोच, उद्देश्य तथा रणनीति
              </a>
             </li>
             <li>
              <a href="/pages/function-responsibility-and-authority?lan=np">
               काम, कर्तव्य र अधिकार
              </a>
             </li>
             <li>
              <a href="/pages/constitutional-provision?lan=np">
               संवैधानिक व्यवस्था
              </a>
             </li>
             <li>
              <a href="/pages/programs?lan=np">
               कार्यक्रमहरु
              </a>
             </li>
             <li>
              <a href="/pages/organization-structure?lan=np">
               संगठनात्मक संरचना
              </a>
             </li>
             <li>
              <a href="/pages/chairman-and-members?lan=np">
               आयोगका पदाधिकारी
              </a>
             </li>
             <li>
              <a href="/pages/message-from-chairman?lan=np">
               अध्यक्षको सन्देश
              </a>
             </li>
             <li>
              <a href="/pages/work-division?lan=np">
               कार्य विभाजन
              </a>
             </li>
             <li>
              <a href="/pages/who-is-who?lan=np">
               कर्मचारीहरुको विवरण
              </a>
             </li>
             <li>
              <a href="/pages/personal-assistants?lan=np">
               निजी सहायकहरुकाे विवरण
              </a>
             </li>
            </ul>
           </li>
           <li class="">
            <a href="bidhan.html">
             विधान
            </a>
            <li class="menu-item-has-children">
             <a href="#">
              कानून तथा नियम
             </a>
             <ul class="submenu">
              <li>
               <a href="/pages/act?lan=np">
                ऐन
               </a>
              </li>
              <li>
               <a href="/pages/regulation?lan=np">
                नियमावली
               </a>
              </li>
              <li>
               <a href="/pages/policy?lan=np">
                नीति
               </a>
              </li>
              <li>
               <a href="/pages/directive?lan=np">
                निर्देशिका
               </a>
              </li>
              <li>
               <a href="/pages/working-procedure?lan=np">
                कार्यविधि
               </a>
              </li>
              <li>
               <a href="/pages/criteria?lan=np">
                मापदण्ड
               </a>
              </li>
             </ul>
            </li>
            <li class="menu-item-has-children">
             <ul class="submenu">
              <li>
               <a href="/pages/reports?lan=np">
                प्रतिवेदनहरु
               </a>
              </li>
              <li>
               <a href="/pages/publications?lan=np">
                प्रकाशनहरु
               </a>
              </li>
              <li>
               <a href="/pages/documents?lan=np">
                कागजातहरु
               </a>
              </li>
             </ul>
            </li>
           </li>
           <li class="menu-item-has-children">
            <a href="#">
             ग्यालरी
            </a>
            <ul class="submenu">
             <li>
              <a href="/photos/">
               फोटो ग्यालरी
              </a>
             </li>
             <li>
              <a href="/videos/">
               भिडियो ग्यालरी
              </a>
             </li>
            </ul>
           </li>
           <li class="">
           </li>
           <li class="">
            <a href="/membership.kbs.org.np/membership.html">
             सदस्यता आवेदन फारम
            </a>
           </li>
           <li class="">
            <a href="/sahayog/">
             सहयाेग गर्नुहाेस्
            </a>
           </li>
           <li class="">
           </li>
           <li class="">
            <a href="/contact/">
             सम्पर्क
            </a>
           </li>
          </ul>
         </nav>
        </div>
       </div>
       <div class="col-12">
        <div class="mobile-menu mobile-menu-blue">
        </div>
       </div>
      </div>
     </div>
    </div>
   </header>
     {% if messages %}
<div id="message-container" class="container mt-4">
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} text-center" 
             style="border-radius:10px; font-size:16px; box-shadow:0 2px 10px rgba(0,0,0,0.1);">
            {{ message }}
        </div>
    {% endfor %}
</div>
{% endif %}
   
   {% block content %}{% endblock %}
 
   </div>
  </div>
 
  <div class="footer-social-icons text-center p-3">
   <ul class="list-inline" style="font-size: 40px;">
    <li>
     <a href="https://www.facebook.com/communistpartynepal" target="_blank">
      <i class="fab fa-facebook-f">
      </i>
     </a>
    </li>
    <li>
     <a href="https://twitter.com/umlcpn" target="_blank">
      <img alt="Twitter" src="https://www.cpnuml.org/twitter.png" style="width: 42px; height: 42px;"/>
     </a>
    </li>
    <li>
     <a href="https://www.youtube.com/channel/UCd5Xirug3kCmik2CFs-aHsw" target="_blank">
      <i class="fab fa-youtube">
      </i>
     </a>
    </li>
   </ul>
  </div>
  <div class="text-center footer pt-">
   <div class="container">
    <div class="row">
     <div class="col-md-1">
     </div>
     <div class="col-md-10">
      <div>
       <p>
        नेकपा केन्द्रीय प्रचार तथा प्रकाशन विभागद्वारा सञ्चालित
       </p>
       <div class="divider">
       </div>
       <p class="mb-4">
        च्यासल, ललितपुर, नेपाल, फोन: +९७७ १ ५९०८११४, ५९०८२१४, ५९०८३१४, पो. ब.नं: ५४७१, इमेल: partyhq@cpnuml.org, umlpublicitydept@cpnuml.org
       </p>
      </div>
     </div>
     <div class="col-md-1">
     </div>
    </div>
   </div>
  </div>


  <script src="{% static 'js/modernizr-3.5.0.min.js' %}">
  </script>
  <script src="{% static 'js/jquery-1.12.4.min.js' %}">
  </script>
  <script src="{% static 'js/popper.min.js' %}">
  </script>
  <script src="{% static 'js/bootstrap.min.js' %}">
  </script>
  <script src="{% static 'js/owl.carousel.min.js' %}">
  </script>
  <script src="{% static 'js/isotope.pkgd.min.js' %}">
  </script>
  <script src="{% static 'js/one-page-nav-min.js' %}">
  </script>
  <script src="{% static 'js/slick.min.js' %}">
  </script>
  <script src="{% static 'js/ajax-form.js' %}">
  </script>
  <script src="{% static 'js/wow.min.js' %}">
  </script>
  <script src="{% static 'js/jquery.nice-select.min.js' %}">
  </script>
  <script src="{% static 'js/jquery.scrollUp.min.js' %}">
  </script>
  <script src="{% static 'js/jquery.meanmenu.min.js' %}">
  </script>
  <script src="{% static 'js/jquery.counterup.min.js' %}">
  </script>
  <script src="{% static 'js/waypoints.min.js' %}">
  </script>
  <script src="{% static 'js/imagesloaded.pkgd.min.js' %}">
  </script>
  <script src="{% static 'js/jquery.magnific-popup.min.js' %}">
  </script>
  <script src="{% static 'js/plugins.js' %}">
  </script>
  <script src="{% static 'js/main.js' %}">
  </script>
  <script>
   $('.modal').on("hidden.bs.modal", function (e) {
       if ($('.modal:visible').length) {
           $('body').addClass('modal-open');
       }
       });
  </script>
<script>
async function translatePage(lang) {
    try {
        const currentUrl = window.location.pathname; // Use pathname to uniquely identify the page
        const storageKey = currentUrl + "_lang_" + lang;

        // Check if translation already exists in sessionStorage
        const savedTranslation = sessionStorage.getItem(storageKey);
        if (savedTranslation) {
            console.log("Loaded translated page from sessionStorage");
            document.getElementById("page-content").innerHTML = savedTranslation;
            return; // Use the stored translation and exit
        }

        console.log("Translating page via server, language:", lang);
        const csrfToken = document.getElementById('csrf_token').value;

        // Clone page content and remove scripts/hidden inputs
        const pageContentClone = document.getElementById("page-content").cloneNode(true);
        pageContentClone.querySelectorAll("script, input[type='hidden']").forEach(el => el.remove());

        let htmlToSend = pageContentClone.innerHTML;

        // Predefined translations for specific words or lines
        const predefinedTranslations = {
           
            "गृहपृष्ठ": {
                "en": "Home",
                "ne": "गृहपृष्ठ"
            },
            "कार्यक्रमहरु": {
                "en": "Programs",
                "ne": "कार्यक्रमहरु"
            }
        };

        // Replace predefined translations in the HTML content
        for (const [key, translations] of Object.entries(predefinedTranslations)) {
            const correctTranslation = translations[lang] || key; // Fallback to the original text if no translation is found
            const regex = new RegExp(key, "g"); // Global replacement
            htmlToSend = htmlToSend.replace(regex, correctTranslation);
        }

        // Send the page content to the server for translation
        const response = await fetch('/translate-page/?lang=' + lang, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrfToken
            },
            body: JSON.stringify({ html: htmlToSend })
        });

        const data = await response.json();

        if (data.translated_html) {
            // Update the page content with the translated HTML
            document.getElementById("page-content").innerHTML = data.translated_html;

            // Save the translated content in sessionStorage
            sessionStorage.setItem(storageKey, data.translated_html);
            console.log("Saved translated page in sessionStorage");
        } else {
            console.error("Translation failed: No translated HTML received.");
        }
    } catch (err) {
        console.error("Error in translatePage function:", err);
    }
}
</script>
<script>
document.addEventListener("DOMContentLoaded", function() {
    const messageContainer = document.getElementById("message-container");
    if (messageContainer) {
        setTimeout(() => {
            messageContainer.style.transition = "opacity 0.5s";
            messageContainer.style.opacity = "0";
            setTimeout(() => messageContainer.remove(), 500);
        }, 3000);
    }
});
</script>






 </body>
</html>


