{% extends "admin/base_site.html" %}

{% block content %}
{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/superuser.css' %}">

</head>
<body>
    <h2>Create Superuser</h2>
    <form method="POST">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username" required>
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="password" name="confirm_password" placeholder="Confirm Password" required>
        <button type="submit">Create Superuser</button>
    </form>
    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}
</body>
{% endblock %}